


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "DM Sans", sans-serif;
}

:root{
--Red500: hsl(10, 79%, 65%);
--Blue300: hsl(186, 34%, 65%);
--Brown950: hsl(25, 47%, 15%);
--Brown400: hsl(28, 10%, 53%);
--Red100: hsl(26, 66%, 93%);
}