@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}




:root{
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Slate300);
    font-family: "Outfit", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.holder{
    width: 350px;
    background-color: white;
    padding: 1.4em 1.4em;
    border-radius: 1.8em;
}
img{
    max-width: 100%; /* Image will shrink if container is smaller than image */
    height: auto;    /* Maintains aspect ratio */
    display: block;
    border-radius: 1em;
}

.image-qrcode{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crops the image to fill the box */
    object-position: center;
}
.title-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title-text h2{
    font-size: 1.7rem;
    color: var(--slate900);
    text-align: center;
}

.title-text p{
    font-size: 1.27rem;
    color: var(--Slate500);
    text-align: center;
}